:export {
  // =============================== Border Radius
  borderColor1: #e7e7e7;
  borderColor2: #ececec;
  borderColor3: #ddd;
  borderColor4: #ccc;
  danger0: #fdf2f2;
  danger1: #fde8e8;
  danger2: #fbd5d5;
  danger3: #f8b4b4;
  danger4: #f98080;
  danger5: #f05252;
  danger6: #e02424;
  danger7: #c81e1e;
  danger8: #9b1c1c;
  danger9: #771d1d;
  fontColorDark1: #555;
  fontColorDark2: #444;
  fontColorDark3: #222;
  fontColorDark4: #000;
  fontColorLight1: #fff;
  fontColorLight2: #f6f8fa;
  fontColorLight4: #aaa;
  info0: #ebf5ff;
  info1: #e1effe;
  info2: #c3ddfd;
  info3: #a4cafe;
  info4: #76a9fa;
  info5: #3f83f8;
  info6: #1c64f2;
  info7: #1a56db;
  info8: #1e429f;
  info9: #233876;
  neutral0: #f9fafb;
  neutral1: #f3f4f6;
  neutral2: #e5e7eb;
  neutral3: #d1d5db;
  neutral4: #9ca3af;
  neutral5: #6b7280;
  neutral6: #4b5563;
  neutral7: #374151;
  neutral8: #1f2a37;
  neutral9: #111928;
  primary0: #fee9ef;
  primary1: #fdc8d3;
  primary2: #ec919c;
  primary3: #e26575;
  primary4: var(--whitelabel_primary_color, #ed3a56);
  primary5: var(--whitelabel_primary_color, #f3123c);
  primary6: #e4003b;
  primary7: #d20034;
  primary8: #c5002c;
  primary9: #b60021;
  secondary0: #f3faf7;
  secondary1: #def7ec;
  secondary2: #bcf0da;
  secondary3: #84e1bc;
  secondary4: #31c48d;
  secondary5: #0e9f6e;
  secondary6: #057a55;
  secondary7: #046c4e;
  secondary8: #03543f;
  secondary9: #014737;
  warning0: #fdfdea;
  warning1: #fdf6b2;
  warning2: #fce96a;
  warning3: #fce96a;
  warning4: #e3a008;
  warning5: #c27803;
  warning6: #9f580a;
  warning7: #8e4b10;
  warning8: #723b13;
  warning9: #633112;
}
